site_name: "Raspberry Pi Zero IO"
site_description: "Documentación técnica profesional para la tarjeta RPi Zero IO."
site_author: "MCIElectronics"
nav:
  - Inicio: index.md
theme:
  name: material
  language: es
  palette:
    primary: blue grey
    accent: blue
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mcielectronics
